#root {
  text-align: left;
  width: 100vw;
  max-width: 100%;
}

.copyright-icon {
  max-width: 1em;
  max-height: 1em;
  margin-left: .2em;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-height: 100%;
}

.panel-group {
  display: flex;
  flex-direction: row;
  height: 100%;
  overflow-y: auto;
}

.panel {
  border: 1px solid #ccc;
  padding: 5px;
  overflow-y: scroll;
}

.left-panel {
  flex-basis: 20%;
}

.right-panel {
  flex-basis: 80%;
}

.footer {
  padding: 5px;
}
